{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Registro de Usuario</h1>
            <hr>

            {{ form_start(registrationForm) }}
                
                <div class="mb-3">
                    {{ form_row(registrationForm.login) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.email) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.agreeTerms, {
                        'label': 'Acepto los términos y condiciones'
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a href="{{ path('app_login') }}" class="btn btn-secondary">¿Ya tienes cuenta?</a>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}