{% extends 'base.html.twig' %}

{% block contenido %}
    <h1>Productos</h1>
    <form method="post" action="{{ path('anadir') }}">
        <table id="productos">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Unidades</th>
                {% for producto in productos %}
                <tr>
                    <td><p><a href="{{ path('detalles', {'id': producto.getId()}) }}">
    {{ producto.getNombre() }}
</a></p></td>
                    <td><p>{{ producto.getPrecio() }}€</p></td>
                    <td> <input type="number" name="unidades[]" value="0"> </td>
                    <td> <input type="hidden" name="productos_id[]" value="{{ producto.getId() }}"></td>
                        
                    </td>
            {% endfor %}    
        </table>
            <input type="submit" action="enviar" value="Enviar">
{% endblock %}    

