{% block header %}
    {% if app.user %}
        <h3>Bienvenid@ {{ app.user.login }}</h3>
        <a href="{{ path('categorias') }}">Categorías</a>
        <a href="{{ path('cesta') }}">Cesta</a>
        <a href="{{ path('logout') }}">Logout</a>
    {% else %}
        <h3>Bienvenid@ a la Tienda</h3>
        <a href="{{ path('login') }}">Iniciar Sesión</a>
        
    {% endif %}
{% endblock %}